// Place all the styles related to the question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#btn-ask {
  color: white;
  background-color: blue;
  width: 80px;
  height: 30px;
}


